body{
  background-color: rgb(247, 247, 247);
}
.App {
  text-align: center;
 
}
.confirmed-link{
  background-color: rgb(23, 151, 255);
  border: 1px solid rgb(0, 113, 206);
}

section {
  background-color: white;
  width: 70%;
  margin-left: 15%;
 margin-top: 40%;
  padding-top: 15%;
  padding-bottom: 15%;
 border-radius: 12px;
 border: 1px solid rgb(236, 236, 236);
 box-shadow: rgb(236, 236, 236)  ;
}
input{
  margin: 2%;
  width: 80%;
  padding: 2%;
  
}
button{
  margin: 2%;

  width: 85%;
  padding: 3%;
  background-color: red;
  border: 1px solid rgb(255, 91, 91);
  color: white;
  border-radius: 2px;
}
button:hover{

  background-color: black;
  border: 1px solid rgb(0, 0, 0);

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
.slide-in-top{animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}@keyframes slide-in-fwd-center{0%{transform:translateZ(-1400px);opacity:0}100%{transform:translateZ(0);opacity:1}}